@using HospitalManagmentSystem.Common.Enums
@model HospitalManagmentSystem.ViewModels.RecordViewModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<form asp-controller="Record" asp-action="Edit" method="post">
    <div class="form-group">
        <label class="control-label">UserId: </label>
        @Html.TextBoxFor(x => x.UserId, new {size = 32})
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Department: </label>
        @Html.TextBoxFor(x => x.Department, new {size = 32})
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label class="control-label">EmployeeId: </label>
            @Html.TextBoxFor(x => x.EmployeeId, new {size = 32})
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
    
    <div class="form-group">
        <label class="control-label">DateAndTime: </label>
        @Html.TextBoxFor(x => x.DateAndTime, new {size = 32})
        <span asp-validation-for="DateAndTime" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label class="control-label">Role: </label>
            @Html.DropDownListFor(x => x.RecordStatus,
                new SelectList(Enum.GetNames(typeof(RecordStatus))))
        </div>

</form>
<input type="submit" value="Edit">
</body>
</html>
